// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use 'app/styles/variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  color: $default-text-color;
  font-weight: 400;
  margin: 0;
  font-family: "Questrial", sans-serif;
  background-color: $default-background-color;
}


:root {
  @include mat.button-overrides((
    filled-container-color: $color-primary,
    text-label-text-color: $default-text-color,
    text-label-text-weight: 400,
    filled-label-text-weight: 400,
  ));
}

.mat-mdc-button,
.mat-mdc-raised-button,
.mat-mdc-outlined-button,
.mat-mdc-flat-button,
.mat-mdc-button-base,
.mat-mdc-fab,
.mat-mdc-mini-fab {
  padding: 22px !important;
  border-radius: 8px !important
}

a {
  cursor: pointer;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background: none !important;
}


.mat-icon {
  color: #44464c !important;
}

.mat-mdc-card, .mat-card-content {
  background-color: white !important;
  height: 100% !important;
  border: none !important;
  border-radius: 0 !important;
  box-shadow: 0 0 9px -7px rgba(66, 68, 90, 1) !important;
}

mat-card-content{
  height: 100% !important;
}

mat-card-header {
  font-size: 19px !important;
  padding: 18px !important;
}

.center-vertically{
  display: flex !important;
  align-items: center !important;;
  height: 100% !important;;
}
