#header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  width: 80%;
  margin: 0 auto;
  height: 60px;
  background-color: white;
}

header {
  background-color: white;
}

.header-right {
  display: flex;
  gap: 20px;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.logo {
  max-height: 50px;
}

.login-button {
  padding: 10px 20px;
}

.header-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  cursor: pointer;
}
