<mat-drawer mode="side" opened>
  <div class="drawer-content">
    <a mat-icon-button [routerLink]="['/home']" routerLinkActive="active">
      <mat-icon>home</mat-icon>
    </a>
    <a mat-icon-button [routerLink]="['/exams/create']" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">
      <mat-icon>add</mat-icon>
    </a>
    <a mat-icon-button [routerLink]="['/exams']" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">
      <mat-icon>format_list_bulleted</mat-icon>
    </a>
    <a mat-icon-button [routerLink]="['/history']" routerLinkActive="active">
      <mat-icon>history</mat-icon>
    </a>
    <a mat-icon-button [routerLink]="['/statistics']" routerLinkActive="active">
      <mat-icon>stacked_line_chart</mat-icon>
    </a>
    <a mat-icon-button [routerLink]="['/settings']" routerLinkActive="active">
      <mat-icon>tune</mat-icon>
    </a>
  </div>
</mat-drawer>
