@import '../../../styles/variables';

.drawer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
  width: 70px;
  height: calc(100vh - 80px);
  background-color: white;
}

a.active mat-icon {
  background-color: $color-primary-light;
  border-radius: 4px;
  padding: 10px;
  color: white !important;
}
