<div id="attempt-summary-container">
  <div id="attempt-questions-container">
    <div *ngFor="let q of attemptSummary?.userAnswerDetails;let qi = index" class="attempt-question-container">
      <app-expendable-box [questionDetailsDTO]="q?.question"></app-expendable-box>
    </div>
  </div>
  <div id="attempt-details-container">
    <h1 id="attempt-details-name">{{ attemptSummary?.exam?.name }}</h1>

    <h3><strong>Uczelnia:</strong> {{ attemptSummary?.exam?.university }}</h3>
    <h3><strong>Kategorie:</strong> {{ attemptSummary?.exam?.categories }}</h3>
    <h3><strong>Data podejścia:</strong> {{ attemptSummary?.startTime | date:'yyyy-MM-dd HH:mm:ss':'UTC' }}</h3>
    <h3><strong>Wymagane:</strong> {{ attemptSummary?.exam?.percentageToPass }}%</h3>

    <h2 [ngClass]="{
    'attempt-score': true,
    'attempt-score-passed': passed,
    'attempt-score-failed': !passed,
  }">
      {{ attemptSummary?.score }}/{{ maxScore }}
    </h2>
    <div id="button-container">
      <button mat-flat-button class="add-category-button add-question-button" (click)="tryAgain()">Spróbuj ponownie</button>
    </div>
  </div>

</div>
