$color-primary: #6A4AE2;
$color-success: #BAFFC9;
$color-info: #BAE1FF;
$color-warning: #F7D1BA;
$color-danger: #FFB3BA;
$color-light: #F5F5DC;
$color-dark: #C9C9C9;
$color-neutral: #E3E3E3;
$color-primary-light: #e2dbf6;

$default-text-color: #0D1618FF;

$default-background-color: #F4F6FC;
