$color-primary: #8367FF;
$color-secondary: #67A9FF;
$color-success: #d4edda;
$color-info: #BAE1FF;
$color-warning: #fff3cd;
$color-danger: #FF6767;
$color-danger-light: #f8d7da;
$color-light: #F5F5DC;
$color-dark: #C9C9C9;
$color-neutral: #E3E3E3;
$color-primary-light: #8367FF;

$default-text-color: #0D1618FF;

$default-background-color: #F4F6FC;
$default-background-color-dark: #dbdde8;
