<div id="login-panel-container">
  <h2>Logowanie</h2>
  <div id="login-form-container">
    <mat-form-field appearance="outline">
      <mat-label>Login</mat-label>
      <input matInput placeholder="Login">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Hasło</mat-label>
      <input matInput placeholder="Hasło">
    </mat-form-field>
    <button mat-flat-button>
      Rejestracja
    </button>
    <p>Nie masz jeszcze konta? Zarejestruj się!</p>
  </div>
</div>
