@use '../../styles/variables' as *;

.login-panel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px;
  background-color: white;

  width: 330px;
  border-radius: 10px;

  margin: auto;
}

#login-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  * {
    width: 100%;
  }

  button {
    width: 70%;
    margin: 15px auto;
  }

  mat-checkbox{
    margin: 0 auto;
    width: 100%;
    text-align: left;
  }

}

a {
  color: $color-primary;
}

#register-form-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 10px;
}

#login-error{
  padding: 0;
  margin: 0 0 10px 0;
  color: transparent;
}

.error-text{
  color: $color-danger !important;
}
