<div id="exam-attempt-container">
  <div id="exam-options-container">
    <div *ngIf="currentStep === 0">
      <h2>Egzamin składa się z {{ examDetails?.questions?.length ?? '...' }} pytań.</h2>
      <h2>Na rozwiązanie masz 30 minut i 20 sekund.</h2>
      <h2>Pytania mogą być zarówno jednokrotnego, jak i wielokrotnego wyboru.</h2>
      <h2>Możesz cofać się do poprzednich pytań.</h2>
      <h2>Aby zaliczyć egzamin, musisz zdobyć co najmniej 60% punktów.</h2>
      <h2>Powodzenia!</h2>
    </div>

    <div *ngIf="currentQuestion">
      <p>Pytanie {{ currentStep }} z {{ examDetails?.questions?.length }}</p>
      <mat-card-content>
        <h2>{{ currentQuestion.content }}</h2>

        <mat-selection-list *ngIf="currentQuestion.type === 'MULTIPLE_CHOICE'">
          <mat-list-option *ngFor="let ans of currentQuestion.answers">
            <!--                           [(ngModel)]="ans.selected"-->
            {{ ans.text }}
          </mat-list-option>
        </mat-selection-list>

        <mat-radio-group *ngIf="currentQuestion.type === 'SINGLE_CHOICE'" [(ngModel)]="selectedAnswer">
          <mat-radio-button *ngFor="let ans of currentQuestion.answers" [value]="ans" class="single-answer-container">
            {{ ans.text }}
          </mat-radio-button>
        </mat-radio-group>
      </mat-card-content>
    </div>

    <div *ngIf="questionCount > 0 && currentStep > questionCount">
      <h2>Egzamin ukończony!</h2>
      <p>Twoje odpowiedzi zostaną przesłane / ocenione</p>
    </div>
  </div>
  <div *ngIf="currentStep > 0" class="exam-attempt-button-container">
    <button mat-flat-button class="prev-question-button" (click)="prev()">Poprzednie pytanie</button>
    <button mat-flat-button class="next-question-button" (click)="next()">Następne pytanie</button>
  </div>

  <div *ngIf="currentStep == 0" class="exam-attempt-button-container">
    <button mat-flat-button class="next-question-button" (click)="next()">Rozpocznij egzamin</button>
  </div>
</div>
