.home-guest-container {
  margin: auto;
  height: calc(100vh - 80px);
}

.home-guest-left-panel {
  display: flex;
  width: 80%;
  align-items: center;
  margin: 10vh auto;
  justify-content: center;
}

.home-guest-buttons-container {
  margin-top: 40px;
}

.home-guest-right-panel {
  width: 50%;
}

.home-guest-main-text {
  font-size: 37px;
  font-weight: bold;
}

.home-guest-description {
  font-size: 18px;
  line-height: 1.5;
}

#app-content-container {
  height: calc(100vh - 80px);
  display: flex;
}

#main-content-container{
  box-shadow: inset 0 0 9px -7px rgba(66, 68, 90, 1);
  width: 100%;
  padding: 70px 90px;
}
