<div id="home-guest-container">
  <div id="home-guest-left-panel">
    <p id="home-guest-main-text">Twórz, udostępniaj i rozwiązuj egzaminy w inteligentny sposób!</p>
    <p>
      QuizForge to nowoczesna platforma, która pomaga w efektywnej nauce i testowaniu wiedzy – generuj pytania,
      organizuj egzaminy i śledź postępy!
    </p>
    <div id="home-guest-buttons-container">
      <button mat-flat-button>
        Rejestracja
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>
  </div>
  <div id="home-guest-right-panel">
    <app-login-panel></app-login-panel>
  </div>
</div>
