.home-guest-container {
  display: flex;
  width: 80%;
  margin: auto;
  height: calc(100vh - 80px);
  align-items: center;
  justify-content: center;
}

.home-guest-left-panel {
  width: 50%;
}

.home-guest-buttons-container {
  margin-top: 40px;
}

.home-guest-right-panel {
  width: 50%;
}

.home-guest-main-text {
  font-size: 37px;
  font-weight: bold;
}

.home-guest-description {
  font-size: 18px;
  line-height: 1.5;
}
